@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: #000;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #fff;
  padding: 0;
  margin: 0;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 24px;
  overflow: hidden;
}

sección {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formulario {
  padding-right: 24px;
  overflow: hidden;
}

.título-formulario {
  text-align: center;
  color: #030712;
  font-weight: 600;
  font-size: 30px;
  margin: 0 0 8px;
}

.descripcion-formulario {
  color: #374151;
  text-align: center;
  margin: 0 0 32px;
}

.animación-formulario {
  background-color: white;
  border-radius: 24px;
  overflow: hidden;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.logo svg {
  width: 24px;
  height: 24px;
}

formulario {
  width: 100%;
  max-width: 420px;
}

.etiqueta-control {
  display: block;
  margin: 14px 0 4px;
  color: #0d0c22;
  font-weight: 500;
}

.control-formulario {
  height: 52px;
  display: block;
  width: 100%;
  border: 1px solid #6b7280;
  padding: 18px 20px;
  transition: outline 200ms ease, box-shadow 200ms ease;
  border-radius: 12px;
  outline: none;
  background-color: #fff;
  color: #0d0c22;
  margin-bottom: 28px;
  font-size: 16px;
}

.control-formulario:focus {
  border-color: #0d0c22;
  box-shadow: 0 0 0 4px rgb(0 0 0 / 10%);
}

.control-formulario:usuario-no-válido {
  border-color: #dc2626;
}

.control-formulario:usuario-no-válido:focus {
  border-color: #dc2626;
  box-shadow: 0 0 0 4px rgb(220, 38, 38, .1);
}

.campo-contraseña {
  position: relative;
}

.campo-contraseña svg {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 13px;
}

.enviar-formulario {
  height: 52px;
  width: 100%;
  display: block;
  background: #e77cb1;
  border-radius: 100px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: .2s;
}

.enviar-formulario:hover {
  box-shadow: 0 -1px 10px rgba(13,12,34, 0.3);
}

.activar-dirección {
  cursor: pointer;
  font-weight: 500;
  color: #0d0c22;
  margin-bottom: 16px;
}

.campos-dirección {
  margin-top: 16px;
}

.pie-formulario {
  font-size: 14px;
  text-align: center;
  margin: 32px 0 0;
}

enlace {
  font-size: 14px;
  color: #0875e4;
  font-weight: 500;
  text-decoration: none;
}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }

  .user-invalid {
    border-color: red;
  }
